<h4>
  Internal Server Error - refreshing the page will make the error disappear!
</h4>

<ng-container *ngIf="error">
  <h5 class="text-danger">Error: {{ error.message }}</h5>
  <p class="font-weight-bold">Note: I don't really know what to say lol</p>
  <p>What to do next?</p>
  <ol>
    <li>Open the chrome dev tools</li>
    <li>Inspect the network tab</li>
    <li>Look for failing request</li>
    <li>Examine request url - make sure it's correct</li>
    <li>
      See if the issue is the same in postman, maybe the issue isn't with
      angular
    </li>
  </ol>
  <p>
    the following is the stack trace - this is where your investigation should
    start!
  </p>
  <code class="mt-5" style="background-color: whitesmoke">{{
    error.details
  }}</code>
</ng-container>
