<div *ngIf="showSpinner" loading class="loading-container">
  <h1>Loading...</h1>

  <div class="circle">
    <div class="circleBig circleLine">
      <div class="twoQuarterBig circleLine">
        <div class="lineSmallLeft line"></div>
        <div class="lineSmallRight line"></div>
        <div class="twoQuarterSmall circleLine">
          <div class="lineBigUp line"></div>
          <div class="lineBigDown line"></div>
          <div class="circleSmall circleLine"></div>
        </div>
      </div>
    </div>
  </div>
</div>
